body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}

.calculator {
    background-color:blueviolet;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

table {
    width: 100%;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

.operator {
    background-color: #f1c40f;
    color: #fff;
}

.clear {
    background-color: #e74c3c;
    color: #fff;
}

.equal {
    background-color: #2ecc71;
    color: #fff;
}
